body {
    box-sizing: border-box;
    background-color: #222;
    margin: 0;
    height: 100vh;
}
body * {
    font-family: monospace;
    color: #ddd;
}
main {
    height: 100%;
}

h1 {
    margin: 0;
    padding: 20px;
}

button,
input[type="submit"] {
    border: none;
    background-color: #333;
    cursor: pointer;
    padding: 5px;
}
button.button-nav {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
}
button:hover,
button.selected,
input[type="submit"]:hover {
    color: white;
    background-color: black;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="search"] {
    background-color: #111;
    border: 1px solid #444;
    outline: none;
    padding: 10px;
}

ol {
    padding: 0 25px;
}

.admin-view-section {
    padding: 0 20px;
}
